[Unit]
Description=Kafka
After=network.target

[Service]
User=ngupta
Group=ngupta
Environment="KAFKA_HEAP_OPTS=-Xmx256M -Xms128M"
Environment="KAFKA_OPTS=-javaagent:/home/ngupta/prometheus/jmx_prometheus_javaagent-0.3.1.jar=8080:/home/ngupta/prometheus/kafka-0-8-2.yml"
ExecStart=/home/ngupta/kafka/bin/kafka-server-start.sh /home/ngupta/kafka/config/server.properties
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target